body {
	margin: 0px;
	font-family: 'Montserrat';
	color: #fff;
	background-color: #212121;
	text-align: left;
	scroll-behavior: smooth;
}
nav {
	background-color: #000;
	height: auto;
	width: 100%;
	text-align: center;
}
main {
	position: relative;
	margin-top: calc(9vh + 6vw + 20px);
	margin-left: 65px;
	margin-right: 65px;
}
#nav {
	position: fixed;
	width: 100vw;
	height: auto;
	margin: 0px;
	top: 0px;
	z-index: 100;
}
.nav-fade {
	width: 100%;
	background: linear-gradient(#000, rgba(0,0,0,0));
}
.one, .two, .three, .four {
	text-align: center;
	display: inline-block;
	width: 25%;
	padding: .75rem 0;
	margin: 0;
	text-decoration: none;
	color: #ffc105;
}
.one:hover ~ hr {
	margin-left: 0;
}
.two:hover ~ hr {
	margin-left: 25%;
}
.three:hover ~ hr {
	margin-left: 50%;
}
.four:hover ~ hr {
	margin-left: 75%;
}
hr {
	height: .25rem;
	width: 25%;
	margin-top: 0;
	margin-bottom: 0;
	background: #ffc105;
	border: none;
	transition: .3s ease-in-out;
}
.nameplate {
	width: 60vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100vh;
	margin-bottom: 10px;
	position: relative;
	top: 0;
	bottom: 0;
	padding: none;
	animation-name: moveNamePlate;
	animation-duration: 1.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
.logo1 {
	position: absolute;
	left: 0px;
	height: calc((60vw / 10) + 20px);
	width: auto;
}
.logo2 {
	position: absolute;
	right: 0px;
	height: calc((60vw / 10) + 20px);
	width: auto;
}
h1 {
	text-align: center;
}
main a {
	color: #ffc105;
	text-decoration: underline;
	text-decoration-color: white;
}
main a:visited {
	color: #ffc105;
	text-decoration-color: white;
}
footer {
	text-align: left;
	margin-bottom: 30px;
	margin-top: 50px;
}
.button {
	font-size: 15px;
	color: #ffc105;
	background: black;
	padding: 10px 15px 10px 15px;
	border: none;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: top 0.1s, left 0.1s, background 0.5s, color 0.5s;
	position: relative;
	top: 0;
	left: 0;
}
.button-enabled:hover {
	background: #ffc105;
	color: black;
}
.button-enabled:focus {
	top: 1.5px;
	left: 0.3px;
}

@media screen and (max-width: 800px) {
	body {
		margin-bottom: 55px;
	}
	main {
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	footer {
		margin-bottom: 110px;
	}
	.top-scroll-button {
		/* bottom: 115px; */
		bottom: 160px;
	}
}

@keyframes moveNamePlate {
	to {
		margin-top: 10px;
	}
}

/*  Scroll Button Start */

.top-scroll-button {
	width: 50px;
	height: 50px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: fixed;
	right: 20px;
	bottom: 65px;
	background: #000;
	display: none;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	transition-duration: 0.25s;
}
.top-scroll-button:hover, .top-scroll-button:focus {
	background: #111;
}
.top-scroll-button:hover img {
	top: 0px;
}
.top-scroll-button img {
	position: relative;
	top: 2.45px;
	padding: 5px;
	width: 35px;
	height: auto;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	transition-duration: 0.25s;
}
noscript .top-scroll-button {
	display: inline;
}

/*  Scroll Button End */
