/* .blog-link { */
	/* text-align: left; */
/* } */
/* .blog-link a { */
	/* padding: 10px 15px; */
	/* background: #ffc105; */
	/* color: white; */
	/* text-decoration: none; */
	/* border-radius: 5px; */
	/* cursor: pointer; */
/* } */
#typedTitle {
	text-align: center;
	position: relative;
	top: 30vh;
	font-size: 5vh;
	animation-name: moveTitle;
	animation-duration: 1.5s;
	animation-delay: 3.05s;
	animation-fill-mode: forwards;
}
#typedText {
	text-align: left;
	position: relative;
	top: 30vh;
	animation-name: moveTitle;
	animation-duration: 1.5s;
	animation-delay: 3.05s;
	animation-fill-mode: forwards;
	margin-bottom: 200px;
}
#YTChannel {
	width: calc(90vw - 130px);
	height: calc((90vw - 130px) / 16 * 9);
}
#twitterContainer {
	margin-top: 5vh;
	margin-left: 15%;
	margin-right: 15%;
}
#blog {
	width: 100%;
	height: calc(89vh - 6vw - 20px);
	margin-top: 5vh;
}
/* #skip { */
	/* border: none; */
	/* position: fixed; */
	/* bottom: 55px; */
	/* right: 10px; */
	/* background-color: #ffc105; */
	/* border-radius: 5px; */
	/* z-index: 5; */
	/* color: white; */
	/* font-size: 25px; */
	/* height: 50px; */
	/* width: 80px; */
	/* cursor: pointer; */
	/* display: none; */
/* } */
/* #skip span { */
	/* padding-top: 50px; */
/* } */

#skip {
	border: none;
	background: transparent;
	color: white;
	font-size: 25px;
	height: 50px;
	width: 80px;
	cursor: pointer;
}
.skip-button {
	display: none;
	z-index: 5;
	position: fixed;
	bottom: 55px;
	right: 10px;
}
.YTContainer {
	position: relative;
	top: 10vh;
	opacity: 0;
	display: none;
}

@media screen and (max-width: 800px) {
	#skip {
		bottom: 105px;
	}
	#YTChannel {
		width: 90vw;
		height: calc(90vw / 16 * 9);
	}
	#twitterContainer {
		margin-top: 5vh;
		margin-left: 15%;
		margin-right: 15%;
	}
}

@keyframes moveTitle {
	to {
		top: 0px;
	}
}

/* Fancy Button Animation Start */

.fancy-button, .scene {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  /* -webkit-justify-content: center; */
  /* -webkit-align-items: center; */
}

.fancy-button a {
  color: white;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
  text-decoration: none;
}
.fancy-button a .text {
  font-family: proxima-nova, monospace;
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.fancy-button a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #ffc105;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.fancy-button .line {
  position: absolute;
  background: #ffc105;
}
.fancy-button .line.-right, .fancy-button .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}
.fancy-button .line.-top, .fancy-button .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
.fancy-button .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.fancy-button .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.fancy-button .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.fancy-button .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}
.fancy-button a:hover .text,
.fancy-button a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.fancy-button a:hover:after,
.fancy-button a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.fancy-button a:hover .line,
.fancy-button a:active .line {
  transform: scale3d(1, 1, 1);
}
.fancy-button a:hover .line.-right,
.fancy-button a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
.fancy-button a:hover .line.-top,
.fancy-button a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
.fancy-button a:hover .line.-left,
.fancy-button a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
.fancy-button a:hover .line.-bottom,
.fancy-button a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

/* Fancy Button Animation End */
